.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__card{

    padding: 50px;
    margin:50px;
    width: 500px;
    height: auto;
    background-color: blue;
    text-align: center;
    color: white;
  }
}

